@model AFCargaDocs.Models.Entidades.FileInfoFtp

@{
    ViewBag.Title = "DisplayDocWithName";
}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/fonts/funtes.css" rel="stylesheet" type="text/css" />

</head>
<body class="bodydoc">
    <div class="documento">

        <embed type="@Model.FileType" width="700px" height="550px" src="data:@Model.FileType;base64,@Model.FileContent" />
</div>
</body>
