
@{
    ViewBag.Title = "CargaDocs";
}
<h2 style="display:flex;flex-direction:row;flex-wrap:wrap;justify-content:center;align-content:center">Carga de Documentos</h2>
<link href="~/fonts/funtes.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/CargaDocumentos/carga.js"></script>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<script src="~/Scripts/SimpleAjaxUploader.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<style>
    /*.tamico{
        width:5%;
    }*/

    .titles {
        background-color: black;
        color: white;
    }
</style>
<div class="container">
    <div style="display:flex;flex-direction:row;flex-wrap:wrap;justify-content:center;align-content:center">
        <div>
            <table class="table table-striped">
                <thead class="titles">
                    <tr style="background-color:#333333">
                        <th style=" vertical-align: middle; "width="150">Faltan de subir</th>
                        <th style=" vertical-align: middle;" width="150">Pendientes por ser aprobados</th>
                        <th style=" vertical-align: middle;" width="150">Rechazados</th>
                        <th style=" vertical-align: middle;" width="150">Validados y aceptados</th>

                    </tr>
                </thead>
                <tbody>
                    <tr style="background-color:#f7f7f7">
                        <td>
                            <div style="display:flex;flex-direction:row;justify-content:center;align-items:center">
                                <div>
                                    <img class="mainiconos" src="~/images/Recursos/image9.png" />
                                </div>
                                <div style="padding-left: 15px;">
                                    16
                                </div>
                            </div>
                        </td>
                        <td>
                            <div style="display:flex;flex-direction:row;justify-content:center;align-items:center">
                                <div>
                                    <img class="mainiconos" src="~/images/Recursos/image10.png" />
                                </div>
                                <div style="padding-left: 15px;">
                                    2
                                </div>
                            </div>
                        </td>
                        <td>
                            <div style="display:flex;flex-direction:row;justify-content:center;align-items:center">
                                <div>
                                    <img class="mainiconos" src="~/images/Recursos/image12.png" />
                                </div>
                                <div style="padding-left: 15px;">
                                    1
                                </div>
                            </div>
                        </td>
                        <td>
                            <div style="display:flex;flex-direction:row;justify-content:center;align-items:center">
                                <div>
                                    <img class="mainiconos" src="~/images/Recursos/image11.png" />
                                </div>
                                <div style="padding-left: 15px;">
                                    1
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<table class="table table-striped" style="width:100%;height:100px">
    <thead class="titles" style="border-collapse:collapse">
        <tr style="background-color:#333333">
            <th style="background-color:white;width:6%"></th>
            <th>Cargar archivo</th>
            <th>Visualizar archivo</th>
            <th>Día</th>
            <th>Estatus</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="width:11%">
                <div style="display:flex;flex-direction:row;justify-content:flex-end;align-items:center">
                    <div>
                        <img class="mainiconos" src="~/images/Recursos/image16.png" />
                    </div>
                    <div style="padding-left: 15px;">
                        Comprobante de pago de Solicitud de Ayuda Financiera
                        @*Solicitud llena y firmada*@

                    </div>
                </div>
            </td>
            <td>
                <div align="center">
                    <input data-toggle="modal" data-target="#myModalCarga" type=image src="~/images/Recursos/image15.png">
                </div>
             </td>
            <td>
                <div align="center">
                    <input type=image src="~/images/Recursos/image14.png">
                </div>
            </td>
            <td>
                @*NOTA SISTEMA: poner un label de dato de la fecha*@
                <div align="center">
                    00-00-0000
                </div>
            </td>
            <td>
                <div align="center">
                    <img class="mainiconos" src="~/images/Recursos/image9.png">
                </div>
            </td>
        </tr>
        @*<tr>
                <td> <img style="width:21%" src="~/images/Recursos/image16.png" /> Comprobante de ingresos del padre</td>
                <td><input data-toggle="modal" data-target="#myModal" type=image src="~/images/Recursos/image15.png"> </td>
                <td><input type=image src="~/images/Recursos/image13.png"> </td>
                <td>01-ENE-2020 </td>
                <td><img class="mainiconos" type=image src="~/images/Recursos/image10.png"></td>
            </tr>
            <tr>
                <td> <img style="width:21%" src="~/images/Recursos/image16.png" /> Comprobante de ingresos de la madre</td>
                <td><input data-toggle="modal" data-target="#myModal" type=image src="~/images/Recursos/image15.png"> </td>
                <td><input type=image src="~/images/Recursos/image14.png"> </td>
                <td>00-00-0000 </td>
                <td><img class="mainiconos" src="~/images/Recursos/image9.png"></td>
            </tr>
            <tr>
                <td> <img style="width:21%" src="~/images/Recursos/image16.png" /> Pensión Alimenticia</td>
                <td><input data-toggle="modal" data-target="#myModal" type=image src="~/images/Recursos/image15.png"> </td>
                <td><input type=image src="~/images/Recursos/image13.png"> </td>
                <td>25-FEB-2020 </td>
                <td><img class="mainiconos" src="~/images/Recursos/image10.png"></td>
            </tr>
            <tr>
                <td><img style="width:21%" src="~/images/Recursos/image16.png" /> Carta de liquidación o finiquito del padre</td>
                <td><input data-toggle="modal" data-target="#myModal" type=image src="~/images/Recursos/image15.png"> </td>
                <td><input type=image src="~/images/Recursos/image13.png"> </td>
                <td>03-MAR-2020</td>
                <td><img class="mainiconos" src="~/images/Recursos/image11.png"></td>
            </tr>
            <tr>
                <td><img style="width:21%" src="~/images/Recursos/image16.png" /> Carta de liquidación o finiquito de la madre</td>
                <td><input data-toggle="modal" data-target="#myModal" type=image src="~/images/Recursos/image15.png"> </td>
                <td><input type=image src="~/images/Recursos/image14.png"> </td>
                <td>00-00-0000 </td>
                <td><img class="mainiconos" src="~/images/Recursos/image9.png"></td>
            </tr>
            <tr>
                <td> <img style="width:21%" src="~/images/Recursos/image16.png" /> Comprobante de domicilio</td>
                <td><input type=image src="~/images/Recursos/image15.png"> </td>
                <td><input type=image src="~/images/Recursos/image14.png"> </td>
                <td>00-00-0000 </td>
                <td><img class="mainiconos" src="~/images/Recursos/image9.png"></td>
            </tr>
            <tr>
                <td>
                    <img style="width:21%" src="~/images/Recursos/image16.png" /> Estado de cuenta de hipoteca
                    del padre
                    </tdcolspan="2">
                <td><input type=image src="~/images/Recursos/image15.png"> </td>
                <td><input type=image src="~/images/Recursos/image14.png"> </td>
                <td>00-00-0000 </td>
                <td><img class="mainiconos" src="~/images/Recursos/image9.png"></td>
            </tr>
            <tr>
                <td>
                    <img style="width:21%" src="~/images/Recursos/image16.png" />Estado de cuenta de hipoteca
                    de la madre
                </td>
                <td><input type=image src="~/images/Recursos/image15.png"> </td>
                <td><input type=image src="~/images/Recursos/image14.png"> </td>
                <td>00-00-0000 </td>
                <td><img class="mainiconos" src="~/images/Recursos/image9.png"></td>
            </tr>
            <tr>
                <td>
                    <img style="width:21%" src="~/images/Recursos/image16.png" />Identificación oficial vigente
                    del padre
                </td>
                <td><input type=image src="~/images/Recursos/image15.png"> </td>
                <td><input type=image src="~/images/Recursos/image14.png"> </td>
                <td>00-00-0000 </td>
                <td><img class="mainiconos" src="~/images/Recursos/image9.png"></td>
            </tr>
            <tr>
                <td>
                    <img style="width:21%" src="~/images/Recursos/image16.png" />Identificación oficial vigente
                    de la madre
                </td>
                <td><input type=image src="~/images/Recursos/image15.png"> </td>
                <td><input type=image src="~/images/Recursos/image14.png"> </td>
                <td>00-00-0000 </td>
                <td><img class="mainiconos" src="~/images/Recursos/image9.png"></td>
            <tr>
                <td>
                    <img style="width:21%" src="~/images/Recursos/image16.png" />Recibo de pensión del padre
                </td>
                <td><input type=image src="~/images/Recursos/image15.png"> </td>
                <td><input type=image src="~/images/Recursos/image14.png"> </td>
                <td>00-00-0000 </td>
                <td><img class="mainiconos" src="~/images/Recursos/image9.png"></td>
            </tr>
            <tr>
                <td>
                    <img style="width:21%" src="~/images/Recursos/image16.png" />Recibo de pensión de la madre
                </td>
                <td><input type=image src="~/images/Recursos/image15.png"> </td>
                <td><input type=image src="~/images/Recursos/image14.png"> </td>
                <td>00-00-0000 </td>
                <td><img class="mainiconos" src="~/images/Recursos/image9.png"></td>
            </tr>
            <tr>
                <td>
                    <img style="width:21%" src="~/images/Recursos/image16.png" />Recibo de renta del padre
                </td>
                <td><input type=image src="~/images/Recursos/image15.png"> </td>
                <td><input type=image src="~/images/Recursos/image14.png"> </td>
                <td>00-00-0000 </td>
                <td><img class="mainiconos" src="~/images/Recursos/image9.png"></td>
            </tr>
            <tr>
                <td>
                    <img style="width:21%" src="~/images/Recursos/image16.png" />Recibo de renta de la madre
                </td>
                <td><input type=image src="~/images/Recursos/image15.png"> </td>
                <td><input type=image src="~/images/Recursos/image14.png"> </td>
                <td>00-00-0000 </td>
                <td><img class="mainiconos" src="~/images/Recursos/image9.png"></td>
            </tr>
            <tr>
                <td>
                    <img style="width:21%" src="~/images/Recursos/image16.png" />Estado de cuenta de tarjeta
                    de crédito del padre
                </td>
                <td><input type=image src="~/images/Recursos/image15.png"> </td>
                <td><input type=image src="~/images/Recursos/image14.png"> </td>
                <td>00-00-0000 </td>
                <td><img class="mainiconos" src="~/images/Recursos/image9.png"></td>
            </tr>
            <tr>
                <td>
                    <img style="width:21%" src="~/images/Recursos/image16.png" />Estado de cuenta de tarjeta
                    de crédito de la madre
                </td>
                <td><input type=image src="~/images/Recursos/image15.png"> </td>
                <td><input type=image src="~/images/Recursos/image14.png"> </td>
                <td>00-00-0000 </td>
                <td><img class="mainiconos" src="~/images/Recursos/image9.png"></td>
            </tr>
            <tr>
                <td>
                    <img style="width:21%" src="~/images/Recursos/image16.png" />Estado de buró de crédito
                </td>
                <td><input type=image src="~/images/Recursos/image15.png"> </td>
                <td><input type=image src="~/images/Recursos/image14.png"> </td>
                <td>00-00-0000 </td>
                <td><img class="mainiconos" src="~/images/Recursos/image9.png"></td>
            </tr>
            <tr>
                <td>
                    <img style="width:21%" src="~/images/Recursos/image16.png" />Comprobante de pago de
                    Solicitud de Ayuda Financiera
                </td>
                <td><input type=image src="~/images/Recursos/image15.png"> </td>
                <td><input type=image src="~/images/Recursos/image13.png"> </td>
                <td>07-ABR-2020 </td>
                <td><img class="mainiconos" src="~/images/Recursos/image12.png"></td>
            </tr>*@
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="myModalCarga">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div style="display: flex;flex-direction: row;justify-content: center;">
                <img style="width:40%" src="~/images/Recursos/image6.png" class="img-responsive" />
            </div>


            <div class="modal-body">
                <form>



                    <div id="progressOuter" class="progress progress-striped active hidden">
                        <div id="progressBar" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                        </div>
                    </div>
                    <div style="display:flex;flex-direction:row;justify-content: space-around;">

                        <div>
                            <label for="file-upload" class="custom-file-upload">
                                <img style="width:225px" src="~/images/Recursos/image5.png" />
                            </label>
                            @*<button id="uploadBtn" style="background-image:url(../images/Recursos/image5.png)"></button>*@
                            <input id="file-upload" name='upload_cont_img' type="file" style="display:none;">
                        </div>

                        <div>
                            <label>
                                <img onclick="guardar()" id="SubirArchivo" style="width:225px" src="~/images/Recursos/image4.png" />
                            </label>
                            @*<input  type="file" style="display:none;">*@
                        </div>


                    </div>

                    <div style="text-align:center">
                        <label id="fileName" style="color:#a1a0a1"></label>
                    </div>

                    <div class="alert alert-warning" id="notFound" style="display:none">
                        <strong id="textoAdvertencia"></strong> 
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalExito">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form>

                    <div style="display:flex;justify-content: space-around;">
                        <img style="width:225px" src="~/images/Recursos/image2.png" />
                    </div>

                    <h1></h1>
                    <div style="display:flex;justify-content: space-around;">
                        <label data-dismiss="modal" style="cursor:pointer"><img style="width:225px" src="~/images/Recursos/image3.png" /></label>

                        @*<img style="width:225px;align-content:center" src="~/images/Recursos/image3.png" />*@
                    </div>
                </form>
            </div>

            <div style="text-align:center">
                <label id="fileName"></label>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalError">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form>
                    <div style="display:flex;justify-content: space-around;">
                        <img style="width:225px" src="~/images/Recursos/image.png" />
                    </div>

                    <h1></h1>
                    <div style="display:flex;justify-content: space-around;">
                        <label data-dismiss="modal" style="cursor:pointer"><img style="width:225px" src="~/images/Recursos/image1.png" /></label>

                        @*<img style="width:225px;align-content:center" src="~/images/Recursos/image3.png" />*@
                    </div>
                </form>
            </div>

            <div style="text-align:center">
                <label id="fileName"></label>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="ModalPrueba">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form>
                    <div id="progressOuter" class="progress progress-striped active hidden">
                        <div id="progressBar" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                        </div>
                    </div>

                    <div class="row" style="padding-top:10px;">
                        <div class="col-xs-12 text-center">
                            <!– Botón para adjuntar archivos –>
                            <button id="uploadBtn" class="btn btn-large btn-primary">Examinar</button>
                        </div>
                    </div>

                    <div class="row" style="padding-top:10px;">
                        <div class="col-xs-12">
                            <!– div para mensajes de error y otros mensajes deseados –>
                            <div id="msgBox" style="display:none;" class="alert alert-success"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

    

