
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('Montserrat-Bold.ttf') format('truetype');
}

h2, th, td {
    font-family: Montserrat-Bold;
    
}

td {
    text-align: left;
}
table th {
    text-align: center;
    width: 8%;
}

.odd th, .odd td {
    background: #eee;
}

.buttonCarga {
    /*background-color: #25c155;*/
    background-image: url(../images/Recursos/image5.png);
}

input {
    width:45px; 
    height:45px;
}
.mainiconos {
    width: 60px;
}
.logo {
    align-content: flex-end;
    height: 114px;
    width: auto%;
}
.logopr {
    width: 350px;
    height: 120px;
}

.custom-file-upload {
    /*border: 1px solid #ccc;*/
    /*display: inline-block;*/
    /*padding: 6px 12px;*/
    cursor: pointer;
    /*background-image: url(../images/Recursos/image5.png);
    background-repeat: no-repeat;*/
}

.custom-file {
    /*width:50%;*/
    cursor: pointer;
}


.modal-content {
    background-color: #f7f7f7
}

.modal-body, modal-content {
    background-color: #f7f7f7
}
.container {
    text-align: center;
}

.progress {
    margin-bottom: 0;
    margin-top: 6px;
    margin-left: 10px;
}

.btn.focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn.hover {
    color: #ffffff;
    background-color: #3276b1;
    border-color: #285e8e;
}

.centericon {
    display:block;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

.header1 {
    background: #302c26;
    /*float: left;*/
    width: 100%;
    margin: 0 auto 1%;
    color: #FFFFFF;
    /*tipo de letra*/
}
/*.header {
    height: 90px;
    width: auto;
    /*tipo de letra*/
}*/

header2 {
    background: #302c26;
    width: 50%;
    margin: 0 auto 1%;
    color: #FFFFFF;
    /*tipo de letra*/
}

.headerconte {
    text-align: right;
}

.titles {
    background-color: black;
    color: white;
}

.deshabilitado {
    pointer-events: none;
}

.documento {
    position: inherit;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.bodydoc {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 1px;
    padding-left: 1px;
    align-content: center;
}


 