
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('Montserrat-Bold.ttf') format('truetype');
}

h2, th, td {
    font-family: Montserrat-Bold;
    
}

td {
    text-align: left;
}
table th {
    text-align: center;
    width: 8%;
}

.odd th, .odd td {
    background: #eee;
}

.buttonCarga {
    /*background-color: #25c155;*/
    background-image: url(../images/Recursos/image5.png);
}

input {
    width:45px; 
    height:45px;
}
.mainiconos {
    width: 60px;
}

.custom-file-upload {
    /*border: 1px solid #ccc;*/
    /*display: inline-block;*/
    /*padding: 6px 12px;*/
    cursor: pointer;
    /*background-image: url(../images/Recursos/image5.png);
    background-repeat: no-repeat;*/
}

.custom-file {
    /*width:50%;*/
    cursor: pointer;
}

.modal-content {
    background-color: #f7f7f7;
}

.container {
    text-align: center;
}

.progress {
    margin-bottom: 0;
    margin-top: 6px;
    margin-left: 10px;
}

.btn.focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn.hover {
    color: #ffffff;
    background-color: #3276b1;
    border-color: #285e8e;
}

.centericon {
    display:block;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

/*table {
    width: 100%;
    border: 1px solid #000;
}

th, td {
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0.3em;
    caption-side: bottom;
}

caption {
    padding: 0.3em;
    color: #fff;
    background: #000;
}

th {
    background: #eee;
}*/

