﻿<!DOCTYPE html>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/fonts/funtes.css" rel="stylesheet" type="text/css" />

<footer id="app-footer" role="contentinfo">
    <div class="container">
        <div class="col-md-12">
            @*<div>
                    <ul class="piped-list">
                        <li><a href="/">Catálogo de Cursos</a></li>
                        <li><a target="_blank" href="https://www.instructure.com/policies/acceptable-use">Términos de uso de Instructure</a></li>
                        <li><a target="_blank" href="https://www.instructure.com/policies/privacy/">Política de privacidad de Instructure</a></li>
                        <li><a target="_blank" href="https://udem.edu.mx">Universidad de Monterrey</a></li>
                        <li><a target="_blank" href="http://www3.udem.edu.mx/canvas/Host%20LLL/Aviso%20de%20Privacidad%20Cursos%20en%20l%C3%ADnea%20UDEM%20vf.pdf">Aviso de privacidad UDEM</a></li>
                    </ul>
                </div>*@
            <p class="small">
                © 2020 DERECHOS RESERVADOS UNIVERSIDAD DE MONTERREY
            </p>
        </div>
    </div>
</footer>