<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/fonts/funtes.css" rel="stylesheet" type="text/css" />

<div class="header" id="topHeader">
    <div class="header1">
        <img class="logopr" src="~/images/Recursos/LOCKUP_SELLOUDEM.png" />
        <div style="float:right;font-family:'Montserrat-Bold'">Aplicación: <strong> @ViewBag.Aplicacion</strong>  | ID: <strong> @ViewBag.Matricula</strong>  |  Ald Year: <strong>@ViewBag.Aidy</strong>  |  Ald Period: <strong>@ViewBag.Aidp&nbsp;&nbsp;</strong></div>
        <h1 style="display: inline-block;"></h1>
    </div>
</div>